* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", Helvetica, sans-serif;
    color: #222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* Superinfo */

.superinfo-bg {
    background: #122ab2;
    color: #fff;
}
.superinfo {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    flex-wrap: wrap;
}
.superinfo a,.superinfo p {
    color: inherit;
    margin: 0 10px;
}

.menu-bg {
    background: #2c70ff;
}
.menu {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.menu a {
    color: #fff;
}
.menu-logo a {
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-nav a {
    font-size: 1.25rem;
    display: block;
    padding: 10px;
}

.menu-nav a:hover {
    color: #122ab2;
}

/* introducao */

.introducao {
    font-size: 3rem;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

/* sobre */

.sobre {
    border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.sobre-info {
    flex: 2 1 300px;
}
.sobre-img {
    flex: 1 1 160px;
}
.sobre-info h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.sobre-info p {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: #7c7c7c;
}

/* Produtos */

.produtos {
    max-width: 960px;
    margin: 60px auto;
}

.produtos h1 {
    margin: 0 10px 60px 10px;
    font-size: 3rem;
}

.produtos-container {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    margin: 0 10px;
    flex-wrap: wrap;
}

.produtos-container h2 {
    font-size: 3rem;
    color: #a4a4a4;
    padding: 60px 20px;
}

.produtos-item {
    background: #f7f7f7;
    border-top: 8px solid transparent;
    flex: 1 1 175px;
}

.produtos-item.purple {
    border-color:#AE81FF;
}

.produtos-item.pink {
    border-color:#F9265E;
}

.produtos-item.blue {
    border-color:#66D9EB;
}

/* Preço */

.preco {
    background: #f7f7f7;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.preco-item {
    flex: 1 0 260px;
    border: 4px solid #fff;
    padding: 20px;
    margin: 10px;
}

.preco-item h2{
    font-size: 3rem;
    color: #a4a4a4;
    text-align: center;
    margin-top: 20px;
}

.preco-item span {
    max-width: 300px;
    margin: 20px auto;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 5px 0;
    border-top:4px solid #fff ;
    border-bottom:4px solid #fff;
    font-size: 3rem;
}
.preco-item sup {
    font-size: 1.5rem;
}

.preco-item ul {
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25rem;
    font-style: italic;
    color: #7c7c7c;
}

.preco-item li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.preco-item li::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px; 
    background: #2c70ff;
    border-radius: 50%;
}

.preco-item a {
    display: block;
    margin: 20px auto;
    border: 4px solid #222;
    color: #222;
    font-size: 2.25rem;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 300px;
    text-align: center;
    padding: 15px 0;
}

@media (max-width:800px) {
    .preço {
        padding-left: 10px;
        padding-right: 10px;
    }
    .preco-item:nth-child(1){
        order: 1;
    }
    .preco-item:nth-child(3) {
        order: -1;
    }
}

/* QUALIDADE */

.qualidade {
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}

.qualidade-item {
    flex: 1 1 300px;
    margin: 20px 10px;
}

.qualidade-item h2 {
    font-size: 2.25rem;
    color: #a4a4a4;
    margin-bottom: 20px;
}

.qualidade-item h2::before {
    content: "";
    width: 8px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}
.qualidade-item:nth-of-type(3n+1) h2::before {
    background: #ae81ff;
}

.qualidade-item:nth-of-type(3n+2) h2::before {
    background-color: #F9265E;
}
.qualidade-item:nth-of-type(3n+3) h2::before {
    background-color: #66D9EB;
}
.qualidade-item p {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: #7c7c7c;
}

