* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", Helvetica, sans-serif;
    color: #222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* Superinfo */

.superinfo-bg {
    background: #122ab2;
    color: #fff;
}
.superinfo {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    flex-wrap: wrap;
}
.superinfo a,.superinfo p {
    color: inherit;
    margin: 0 10px;
}

.menu-bg {
    background: #2c70ff;
}
.menu {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.menu a {
    color: #fff;
}
.menu-logo a {
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-nav a {
    font-size: 1.25rem;
    display: block;
    padding: 10px;
}

.menu-nav a:hover {
    color: #122ab2;
}

/* introducao */

.introducao {
    font-size: 3rem;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

/* sobre */

.sobre {
    border-top: 2px solid #122ab2;
    border-bottom: 2px solid #122ab2;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.sobre-info {
    flex: 2 1 300px;
}
.sobre-img {
    flex: 1 1 160px;
}
.sobre-info h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.sobre-info p {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: #7c7c7c;
}